doctype html
html
    head
        title HOME PAGE
    body
        h1(style="color:lightgrey") HOME
        br
        a(href="/login") LOGIN
        br
        a(href="/signup") SIGNUP
        br
        a(href="/logout") LOGOUT
        br
        a(href="/protected") PROTECTED
