doctype html
html
    head
        title PROTECTED PAGE
    body
        h4(style="color:lightgrey") Welcome User:&nbsp;
            span(style="color:black") #{id}
        br
        a(href="/logout") LOGOUT
