doctype html
html
    head
        title SIGNUP
    body
        h1 SIGNUP
        hr
        p
            if(message)
                h4(style="color:red") #{message}
            form(action="/signup" method="POST")
                div
                    input(name="id" placeholder="USER ID")
                br
                div
                    input(name="password" type="password" placeholder="PASSWORD")
                br
                button(type="submit") SIGN UP