doctype html
html
    head
        title HOME
    body
        h1 HOME
        hr
        p
            div
                a(href="create") CREATE
            br
            div
                a(href="read") READ
            br
            div
                a(href="update") UPDATE
            br
            div
                a(href="delete") DELETE
            br