doctype html
html
    head
        title="FORM DATA TEST"
    body
        form(action="/" method="POST")
            div
                label(for="name") Name:
                input(name="name" placeholder="Name")
            br
            div
                label(for="place") Place:
                input(name="place" placeholder="Place")
            br
            button(type="submit") Send Details